<!DOCTYPE html>
<html lang = "en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Chelsea+Market" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
		<meta charset = "utf-8">
		<title>TAKE A PET</title>
		<link href="reset.css" rel="stylesheet" type="text/css">
		<link href="style.css" rel="stylesheet" type="text/css">
		<link href="style2.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="principal">
			<%=message%>
		</div>
	</body>
</html>