<!DOCTYPE html>
<html lang = "en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Chelsea+Market" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
		<meta charset = "utf-8">
		<title>TAKE A PET</title>
		<link href="reset.css" rel="stylesheet" type="text/css">
		<link href="style.css" rel="stylesheet" type="text/css">
		<link href="style2.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="posicao-relativa">
            <header>
                <h1>TAKE A PET</h1>
                <img src="./pictures/dog-and-cat.png" alt="icon">
                <nav id="menu">
					<ul>
						<li><a href="main-page.html">Home</a></li>
						<li><a href="como-funciona.html">Como funciona</a></li>
						<li><a href="quero-adotar.html">Quero adotar</a></li>
						<li><a href="cadastrar-usuario.html">Quero doar</a></li>
					</ul>
                </nav>
            </header>
        </div>	
		<div id="principal">
			<%=message%>
		</div>
		<footer>
			<p>Copyright &copy; 2017 ~ Take a pet ~ Grupo 3 ~ All Rights Reserved</p>
		</footer>
	</body>
</html>